<div data-ng-controller="aboutCtrl">
    <h1>{{title}}</h1>
    <div>
        <p class="ng-scope">
            AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template
language and lets you extend HTML's syntax to express your application's components clearly and
succinctly. Angular's data binding and dependency injection eliminate much of the code you
would otherwise have to write. And it all happens within the browser, making it
an ideal partner with any server technology.
        </p>
        <p class="ng-scope">
            Angular is what HTML would have been, had it been designed for applications. HTML is a great
declarative language for static documents. It does not contain much in the way of creating
applications, and as a result building web applications is an exercise in <em>what do I have to do
to trick the browser into doing what I want?</em>
        </p>
        <p class="ng-scope">The impedance mismatch between dynamic applications and static documents is often solved with:</p>
        <ul class="ng-scope">
            <li><strong>a library</strong> - a collection of functions which are useful when writing web apps. Your code is
in charge and it calls into the library when it sees fit. E.g., <code><span class="pln">jQuery</span></code>.</li>
            <li><strong>frameworks</strong> - a particular implementation of a web application, where your code fills in
the details. The framework is in charge and it calls into your code when it needs something
app specific. E.g., <code><span class="pln">durandal</span></code>, <code><span class="pln">ember</span></code>, etc.</li>
        </ul>
        <p class="ng-scope">
            Angular takes another approach. It attempts to minimize the impedance mismatch between document
centric HTML and what an application needs by creating new HTML constructs. Angular teaches the
browser new syntax through a construct we call <em>directives</em>. Examples include:
        </p>
        <ul class="ng-scope">
            <li>Data binding, as in <code><span class="pun">{{}}</span></code>.</li>
            <li>DOM control structures for repeating, showing and hiding DOM fragments.</li>
            <li>Support for forms and form validation.</li>
            <li>Attaching new behavior to DOM elements, such as DOM event handling.</li>
            <li>Grouping of HTML into reusable components.</li>
        </ul>
        
    </div>
</div>

